body {
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0;
    display: grid;

}

.background {
    /* position: relative; */
    background-image: url(images/background.gif);
    /* width: 100%; */
    display: flex;
    background-size: cover;
    z-index: -1;
}

.nameLocation {
    /* width: 100vw; */
    /* position: relative; */
    /* height: 100vh; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    z-index: 3;
}

.My_name {
    /* display: flex; */
    color: rgb(91, 89, 89);
    background-color: aliceblue;
    opacity: 90%;
    font-weight: 100%;
    padding: 5px;
    font-display: 100%;
    font-size: 55px;
    border-radius: 98cm;
    font-family: serif;
    font-style: normal;
    position: fixed;
    border: 5px solid black;
    height: auto;
    width: auto;
    z-index: 3;
    text-shadow: 0px 0px 20px rgb(255, 255, 163), 0px 0px 20px rgb(179, 179, 144), 0px 0px 900px rgb(255, 255, 255), 0px 0px 1600px rgb(253, 253, 226), 0px 0px 2800px rgb(255, 255, 255);
}

.about_me {
    color: black;
    font-size: 25px;
    text-decoration: underline;
    font-family: serif;
    position: fixed;
    right: 47%;
    top: 1%;
    z-index: 3;
}

.project {
    color: black;
    font-size: 25px;
    text-decoration: underline;
    font-family: serif;
    position: fixed;
    right: 33%;
    top: 1%;
    z-index: 3;
}


.social {
    color: black;
    font-size: 25px;
    text-decoration: underline;
    font-family: serif;
    position: fixed;
    right: 19%;
    top: 1%;
    z-index: 3;
}


.career {
    color: black;
    font-size: 25px;
    text-decoration: underline;
    font-family: serif;
    position: fixed;
    right: 5%;
    top: 1%;
    z-index: 3;
}

.my_pic {
    position: fixed;
    height: 45%;
    width: auto;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    z-index: 3;
    border: 2px solid;
    border-color: wheat;
    border-radius: 20%;
    right: 85px;
    bottom: 90px;
}

.arrow_1 {
    z-index: 3;
    /* position: absolute; */
    bottom: 15px;
    right: 40%;
}

#titleLocation {
    height: 100vh;
    width: 100vw;
    background-color: white;
    /* align-items: center; */
    z-index: 3;
}

.aboutmeTitle {
    font-size: 30px;
    color: aliceblue;
}

.section {
    height: 100vh;
    width: 100%;
    /* display: grid; */
}

.section-b {
    background-color: rgb(255, 0, 0);
    width: 500px;
    display: grid;
}