.background {
    position:fixed;
    left: 0;
    right: 0;
    background-image: url(https://giffiles.alphacoders.com/215/215824.gif);
    top: 0;
    bottom: 0;
    height:auto;
    width: 100%;
    background-position-x: 30%;
    background-position-y: center;
    background-size: cover;
}

.axits_1 {
    position: absolute;
    bottom: 0; 
    width: 105%;
    max-width: 105%;
    height: auto;
    left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content:center;
    align-items:center;
}

.My_name {
    color: white;
    font-size: 55px;
    font-family: serif;
    font-style: normal;
    position: fixed;
    left: 70%;
    top: 30%;
    height: 22%;
    width: 100%;
    padding: 6%;
    padding-top: 2%;
    z-index: 3;
}

.about_me {
    color: black;
    font-size: 30px;
    text-decoration: underline;
    font-family: serif;
    position: fixed;
    right: 47%;
    top: 1%;
    z-index: 3;
}

.project {
    color: black;
    font-size: 30px;
    text-decoration: underline;
    font-family: serif;
    position: fixed;
    right: 33%;
    top: 1%;
    z-index: 3;
}


.social {
    color: black;
    font-size: 30px;
    text-decoration: underline;
    font-family: serif;
    position: fixed;
    right: 19%;
    top: 1%;
    z-index: 3;
}


.career {
    color: black;
    font-size: 30px;
    text-decoration: underline;
    font-family: serif;
    position: fixed;
    right: 5%;
    top: 1%;
    z-index: 3;
}

.my_pic {
    position: fixed;
    height: 45%;
    width: auto;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    z-index: 3;
    border: 2px solid;
    border-color: wheat;
    border-radius: 20%;
    right: 85px;
    bottom: 90px;
}

.arrow_1 {
    z-index: 3;
    position: absolute;
    bottom: 15px;
    right: 40%;
}